app/credentials.csv
app/appdata/ppc_data1.json
aws/chalice/metapeering_api/chalicelib/rds_config.py
app/static/*/
*.DS_Store
app/__pycache__/
__pycache__/
.env
.vscode
*.pyc
metapeering/
deactivate/
archive/
compute/output
compute/data/cache/*
compute/custom_output
compute/modules/output
_.git/
compute copy/
compute/data/old/
_app/
*.DS_Store
app/__pycache__
compute/modules/old
app/db.sqlite3
peeringdb.sqlite3
.idea/metapeering.iml
.idea/misc.xml