container_commands:
  00_install_certbot:
    command: "sudo pip3 install certbot certbot-nginx"
    ignoreErrors: false
    test: test ! -d "/etc/letsencrypt/"
  10_permission_hook:
    command: "chmod +x .platform/hooks/postdeploy/00_install_certbot.sh"
  20_renew_certificate:
    command: "SLEEPTIME=$(awk 'BEGIN{srand(); print int(rand()*(3600+1))}'); echo \"0 0,12 * * * root sleep $SLEEPTIME && /usr/local/bin/certbot renew -q\" | sudo tee -a /etc/crontab > /dev/null"

