01_write_nginx_conf:
    command: |
      IFS=, read -ra DOMAINS <<< "$DOMAIN_NAMES"
      > /etc/nginx/conf.d/ssl.conf  # Clear existing file

      for DOMAIN in "${DOMAINS[@]}"; do
        echo "server {
          listen 443 ssl;
          server_name $DOMAIN;

          ssl_certificate /etc/letsencrypt/live/$DOMAIN/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/$DOMAIN/privkey.pem;

          location / {
              proxy_pass http://localhost:8000;
              proxy_set_header Host \$host;
              proxy_set_header X-Real-IP \$remote_addr;
              proxy_set_header X-Forwarded-For \$proxy_add_x_forwarded_for;
          }
        }" >> /etc/nginx/conf.d/ssl.conf
      done

  02_restart_nginx:
    command: "sudo systemctl restart nginx"