server {
    listen 443 ssl;
    server_name __DOMAIN__;

    ssl_certificate /etc/letsencrypt/live/__DOMAIN__/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/__DOMAIN__/privkey.pem;

    location / {
        proxy_pass http://localhost:8000;  # Adjust as needed
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
