{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
	<div class="col-12-xs">
	  	<div class="py-3 text-center">
			<h2 class="mb-4">Peering Query form</h2>
			<p class="lead">
				Please note that currently we handle only a few ISPs. To get started, please select a pair from the dropdown lists.
			</p>
			<p class="lead" style="text-align: justify;">
				ASN1 refers to the ASN of the requester ISP, while ASN2 corresponds to the ASN of the possible peering candidate ISP. Based on the input, our model will suggest three of the best possible peering deals and the subsequent peering locations.
			</p>
			<p class="lead">
				To learn more about the sorting criteria, please check the <a href="/glossary">Glossary</a>.
			</p>
			<p class="lead">
				For a more detailed description on how we suggest and sort the contracts and peering locations, please visit <a href="/description">here</a>.
			</p>
		</div>
	
		<div class="card mb-3 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Query Submission Form</h4>
			</div>
			<div class="card-body">
				<form action="" method="post" class="form" role="form">
	   				{{ form.csrf_token() }}
	   				<div class="row">
	    				<div class="form-group col-md-6">
	     					<!--{{ wtf.form_field(form.asn1, class='form-control')|safe }}-->
	     					<label>ASN1</label>
							<span class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="ISP ASN will be automatically selected">?</span>
	     					{{ form.asn1(class='form-control')|safe }}
	     					</br>
					    	{% if form.asn1.errors %}
					            {% for error in form.asn1.errors %}
						            <div class="alert alert-danger">{{ error }}</div>
					            {% endfor %}
				            {% endif %}
	    				</div>
	    				<div class="form-group col-md-6">
	     					<!--{{ wtf.form_field(form.asn2, class='form-control')|safe }}-->
	     					<label>ASN2</label>
							<span class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="ISP ASN will be automatically selected">?</span>
	     					{{ form.asn2(class='form-control')|safe }}
	     					</br>
					    	{% if form.asn2.errors %}
					            {% for error in form.asn2.errors %}
						            <div class="alert alert-danger">{{ error }}</div>
					            {% endfor %}
				            {% endif %}
	    				</div>
						{% if form.threshold.errors %}
			            	{% for error in form.threshold.errors %}
				            	<div class="alert alert-danger">{{ error }}</div>
			            	{% endfor %}
						{% endif %}
	   			    </div>
	    			<button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto; width: 15vw;">Submit</button>
	  			</form>		
	  		</div>
		</div>
	</div>
{% endblock content %}
